In [27]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [7]:
### read the raw file from github repo.
df = pd.read_csv('https://github.com/rugonzs/Behind-AI/raw/main/data/insurance.csv')
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [8]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [14]:
df.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
age,1338,NaN,NaN,NaN,39.207,14.05,18,27,39,51,64
sex,1338,2,male,676,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bmi,1338,NaN,NaN,NaN,30.6634,6.09819,15.96,26.2963,30.4,34.6938,53.13
children,1338,NaN,NaN,NaN,1.09492,1.20549,0,0,1,2,5
smoker,1338,2,no,1064,NaN,NaN,NaN,NaN,NaN,NaN,NaN
region,1338,4,southeast,364,NaN,NaN,NaN,NaN,NaN,NaN,NaN
charges,1338,NaN,NaN,NaN,13270.4,12110,1121.87,4740.29,9382.03,16639.9,63770.4

The dataset has 1338 samples and 7 features
The target feature (y) is charges.
The predictor features (x) are: age, sex, bmi, children, smoker and region.
Three features are categorical: sex, smoker and region.
Three features are numerical: age, bmi and children.

The categorical features are going to be converted using the integer encoding 
technique.

In [17]:
for c in ['sex', 'smoker' , 'region']:
    print('values in ',c, ' : ', df[c].unique() )

values in  sex  :  ['female' 'male']
values in  smoker  :  ['yes' 'no']
values in  region  :  ['southwest' 'southeast' 'northwest' 'northeast']

The dictionary for conversion will be:
    sex: female => 1 male => 0
    smoker: yes => 1 no => 0
    region: southwest => 0  southeast => 1 northwest => 2 northeast => 3

In [18]:
dict_sex = {'female' : 1, 'male' : 0}
dict_smoker = {'yes' : 1, 'no' : 0}
dict_region = {'southwest' : 0, 'southeast' : 1, 'northwest' : 2, 'northeast' : 3}

In [20]:
df = df.replace({"sex" : dict_sex})
df = df.replace({"smoker" : dict_smoker})
df = df.replace({"region" : dict_region})
df.head(5)

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       1       0  16884.92400
1   18    0  33.770         1       0       1   1725.55230
2   28    0  33.000         3       0       1   4449.46200
3   33    0  22.705         0       0       2  21984.47061
4   32    0  28.880         0       0       2   3866.85520

In [21]:
df.dtypes

age           int64
sex           int64
bmi         float64
children      int64
smoker        int64
region        int64
charges     float64
dtype: object

After converting the values the next step is normalize the data, the techniques used will be min max between 0 and 1. Also the target will be converted. 
The max / min values for each column should be stored, this will help in production to discover feature over or under this values and throw an alert of drift detection (data drift is the detection of difference between training and production dataset), to put in know of the user that the results of the models could not be correct.

In [26]:
dict_norm = {}
for c in df.columns:
    dict_norm.update({c : {'min' : df[c].min(), 'max' : df[c].max()}})
dict_norm

{'age': {'min': 18, 'max': 64},
 'sex': {'min': 0, 'max': 1},
 'bmi': {'min': 15.96, 'max': 53.13},
 'children': {'min': 0, 'max': 5},
 'smoker': {'min': 0, 'max': 1},
 'region': {'min': 0, 'max': 3},
 'charges': {'min': 1121.8739, 'max': 63770.42801}}